.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .top {
    position: absolute;
    top: 0;
    width: 100%;
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      a {
        background-color: red;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .container {
    width: 65%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    h1 {
      font-size: 45px;
    }

    h2 {
      margin: 20px 0;
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .input {
      width: 100%;
      max-width: 600px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;

      input {
        flex: 9;
        height: 100%;
        border: none;
        padding: 0 10px;
      }

      .registerButton {
        flex: 3;
        height: 100%;
        background-color: red;
        border: none;
        color: white;
        font-size: 22px;
        cursor: pointer;
      }
    }
  }
}
